// ---------- FONT

// google web font imports
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
// font family variables
@ff-ss-open: 'Open Sans', sans-serif;
@ff-ss-open-cond: 'Open Sans Condensed', sans-serif;
// font-size and line-height variables
@fw: 300;
@fz: 16;
@lh: 1.4;
@ta-h1-6: center;

//== font and line-height mixins
// NOTE: line-height is unit-less to avoid poor inheritance behavior - https://developer.mozilla.org/en-US/docs/Web/CSS/line-height
// font-size mixin
.font-size(@font-size: @fz, @line-height: @lh) {
  font-size: unit((@font-size / @fz), em);
  line-height: ((@font-size / @fz) * @line-height);
}

// font-family mixin
.font-family (@mixin, @font-family: @ff-ss-open, @font-weight: @fw, @text-align: @ta-h1-6) {
  text-align: @text-align; // grid.less default left
}

.font-family (@mixin, @font-family: @ff-ss-open, @font-weight: @fw, @text-align: @ta-h1-6) when (@mixin = sans) {
  font-family: @font-family;
  font-weight: @font-weight;
}

// line-height mixin
.line-height(@height, @font-size: @fz) {
  line-height: unit((@height / @font-size) - ((@p * 2) / @font-size), em);
}
